<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Items

    <a data-toggle="collapse" href="#restaurant_items_new_form">
      Add item
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @restaurant.items.each do |item| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/items/<%= item.id %>">
          <%= item.restaurant_id %>
        </a>

        <a href="/delete_item_from_restaurant/<%= item.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="restaurant_items_new_form">
        <%= render partial: "restaurant_templates/restaurant_items_new_form" %>
      </div>
    </div>

  </ul>
</div>
