<form action="/create_favorite_from_item" method="post">

  <input type="hidden" name="item_id" value="<%= @item.id %>">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @favorite.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create favorite
  </button>
</form>
