<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Reviews

    <a data-toggle="collapse" href="#item_reviews_new_form">
      Add review
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @item.reviews.each do |review| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/reviews/<%= review.id %>">
          <%= review.item_id %>
        </a>

        <%if current_user == review.user %>
          <a href="/delete_review_from_item/<%= review.id %>">
            Delete
          </a>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="item_reviews_new_form">
        <%= render partial: "item_templates/item_reviews_new_form" %>
      </div>
    </div>

  </ul>
</div>
